.catalog-title {
    padding-top: 2rem;
}

nav {
    background-color: teal;
    width: 100%;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:cadetblue;
}

.card-image {
    margin: auto;
    width: 100%;
    padding: 5px;
    margin-top: 50px;
}

.text-center {
    text-align: center;
}

.btn-male-female {
    background-color: teal;
    margin-top: 15px;
    padding: 15px 90px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.padding-top {
    padding-top: 15px;
}

.footer {
    position: static;
    padding: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: white;
    text-align: center;
}